.app {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}
.top-text {
  font-family: Arial, Helvetica, sans-serif;
}
.activity {
  padding: 1em;
  text-align: center;
}
button {
  width: 400px;
  height: 100px;
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
}
button:hover {
  border: 2px solid black;
}
input[type=button], input[type=submit], input[type=reset] {
  border: .5px solid #444;
  font-size: 12pt;
  padding: 4px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 10px;
  width: 120px;
  font-weight: bold;
  margin-top: 15px;
}
.submit:hover {
	background-color: lightgrey;
}
input {
  font-size: 14pt;
  width: 30px;
}
.description {
  font-weight: bold;
  font-size: 24pt;
  padding: 30px;
  border: 1px solid #444;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-height: 150px;
  background-color: black;
  color: white;
}

.sub-type {
  font-size: 14pt;
  margin-bottom: auto;
}
.select {
  font-size: 12pt;
}
.option {
  font-size: 12pt;
}
.select-css {
	display: block;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 20%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 0em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color:black;
}
.focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 1px rgba(6, 128, 133, 0.7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}
.or {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}